<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>hero0_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {157, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{159, 194}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 1}, {159, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero0_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 119}, {27, 14}}</string>
			<key>spriteOffset</key>
			<string>{18, -30}</string>
			<key>spriteSize</key>
			<string>{27, 14}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 226}, {14, 27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hero1_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {157, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 192}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 1}, {157, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 120}, {27, 26}}</string>
			<key>spriteOffset</key>
			<string>{18, -37}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 197}, {26, 27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hero2_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {157, 192}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{157, 192}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 1}, {157, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{87, 117}, {27, 20}}</string>
			<key>spriteOffset</key>
			<string>{18, -31}</string>
			<key>spriteSize</key>
			<string>{27, 20}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1, 226}, {20, 27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>hero3_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {157, 192}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{157, 192}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{321, 1}, {157, 192}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{88, 119}, {15, 14}}</string>
			<key>spriteOffset</key>
			<string>{13, -30}</string>
			<key>spriteSize</key>
			<string>{15, 14}</string>
			<key>spriteSourceSize</key>
			<string>{165, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{29, 197}, {14, 15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>hero</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>hero</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>